.modalClass {
    background-color: white;
    border-radius:5px;
    width:90%;
    text-align: right;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: rgba(49, 49, 49, 0.4) ;
}
/*sm*/
@media (min-width: 640px) {
    .modalClass {
        top: 60px;
        width:70%;
    }
}

@media (min-width: 780px) {
    .modalClass {
        top: 60px;
        width:60%;
    }
}

 /*lg*/
@media (min-width: 1024px) { 
    .modalClass {
        top: 100px;
        width:700px;
        
    }
 }

/*xl*/
@media (min-width: 1280px) { 
    .modalClass {
        top: 100px;
        width:700px;
    }
 }